<!DOCTYPE html>
<html>
<head>
    <title>Contao-RPC Sample</title>
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="libs/alertify/css/alertify.core.css" rel="stylesheet" media="screen">
    <link href="libs/alertify/css/alertify.default.css" rel="stylesheet" media="screen">
</head>
<body>
    <div id="app" class="container">
        <div class="row">

            <div class="span9">
                <h2>TODO</h2>

                <form id="add" class="form-inline hide">
                    <input id="title" type="text" placeholder="Run naked through the city.">
                    <button type="submit" class="btn">Add</button>
                </form>

                <table id="list" class="table">
                </table>
            </div>

            <div class="span3">
                <form id="signup" class="form-signin">
                    <h3 class="form-signin-heading">Please sign in</h3>
                    <input id="username" type="text" class="input-block-level" placeholder="Username" value="j.smith">
                    <input id="password" type="password" class="input-block-level" placeholder="Password" value="johnsmith">
                    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- TEMPLATES -->

    <script id="task-item" type="text/template">
        <td class="<%= done %>"><%= title %></td>
        <td class="controls hide"><a href="#" class="btn btn-success done">Toggle</a><a href="#" class="btn btn-danger remove">Delete</a></td>
    </script>

    <script src="libs/jquery-1.8.3.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/alertify/lib/alertify.min.js"></script>
    <script src="app/sync.js"></script>
    <script src="app/app.js"></script>
</body>
</html>